    <div class="container">
        <div class="row">
            <div class="col">
                <a href="/promocoes/abril">Promoção de abril</a>
            </div>
            <div class="col">
                <a href="/promocoes/mordedor">Compre agora e ganho um arranhador</a>
            </div>
        </div>
    
        <div class="row">
            <div class="col">
                <a href="/promocoes/indicacao">Indique um amigo e ganhe 5 reais</a>
            </div>
            <div class="col">
                <a href="/promocoes/osso">Compre um arranhador e ganhe um Ratinho</a>
            </div>
        </div>

        <table class="table table-striped">
            <tr>
                <th>Produto</th>
                <th>Valor</th>
                <th>Ações</th>
            </tr>
            <tr>
                <td>Arranhador</td>
                <td>R$ 10,00</td>
                <td>
                <a href="#" class="btn btn-primary">Comprar</a>
                </td>
            </tr>
            <tr>
                <td>Ratinho com catnip</td>
                <td>R$ 4,95</td>
                <td>
                <a href="#" class="btn btn-primary">Comprar</a>
                </td>
            </tr>
            <tr>
                <td>Petiscos</td>
                <td>R$ 2,25</td>
                <td>
                <a href="#" class="btn btn-primary">Comprar</a>
                </td>
            </tr>
        </table>
    </div>